/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 58rem;
  padding: 0 get-size('m');
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
