---
pagination:
  data: collections.all
  size: 1
  alias: preview
permalink: "/images/social-images/{{ preview.data.title | slug }}.svg"
eleventyExcludeFromCollections: true
---
<svg xmlns="http://www.w3.org/2000/svg" width="1200" height="628" viewBox="0 0 1200 628">
  {% set titleInLines = preview.data.title | splitlines(19) -%}
  {%- set numberOfLines = titleInLines.length -%}
  <rect width="100%" height="100%" fill="white" />
  <text id="text" font-family="sans-serif" font-size="80" font-weight="bold">
  {%- for line in titleInLines %}
    <tspan text-anchor="middle" dominant-baseline="middle" x="50%" y="{{ 334 + (loop.index0 * 80) - ((numberOfLines - 1) * 35) }}">{{line}}</tspan>
  {% endfor -%}
  </text>
</svg>